<% include ../partials/header %>
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To Highlights</h1>
                <p>View sports highlights from all over the world!</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/highlights/new">Add new Highlight!</a>
                </p>
                <p>
                    <form action="/highlights" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Highlight search..." class="form-control">
                            <input type="submit" value="Search" class="btn btn-default">
                        </div>
                    </form>
                </p>
            </div>
        </header>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <% if(noMatch !== undefined) { %>
                <h3><%= noMatch %></h3>
                <% } %>
            </div>
            <% Highlights.forEach(function(Highlight) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <a href="/highlights/<%= Highlight._id %>">
                        <img src="<%= Highlight.image %>">
                        </a>
                        <div class="caption">
                            
                            <h4><%=Highlight.name%></h4>
                        </div>
                        <p>
                            <a href="/highlights/<%= Highlight._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
        
<% include ../partials/footer %>